<header>
    <div hidden class="container">
        <img src="/assets/img/logo.png" alt="Logo Travels Tickets" />
        <div class="menu-section" *ngIf="mostrarMenu">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/search">Pesquisar passagens</a>
                    </li>
                    <li>
                        <a routerLink="/profile">Perfil</a>
                    </li>
                </ul>
            </nav>
            <span class="material-icons menu-toggle">
                menu
            </span>
            <!-- <span class="material-icons close" >
                close
            </span> -->
        </div>
    </div>
