
<mat-toolbar class="header">


    <span>
    
            <img src="../../../../assets/img/logo.png" alt="Logo">
        
    </span>
    <span class="title-group">
        <a>
            <i class='material-icons'>
                home
            </i>
            <p> home </p>
        </a>
        <a>
            <i class='material-icons'>
                search
            </i>
           <p>Buscar passagens</p> 
        </a>
        <a>
            <i class='material-icons'>
                person
            </i>
            <p>Meu Perfil</p> 
        </a>

    </span>
</mat-toolbar>