<header>
    <div hidden class="container">
        <img src="../../../../assets/img/logo.png" alt="Logo Travels Tickets" />
        <div class="menu-section">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/searsh-tickets">Pesquisar passagens</a>
                    </li>
                    <li>
                        <a routerLink="/profile">Perfil</a>
                    </li>
                </ul>
            </nav>
            <span class="material-icons menu-toggle">
                menu
            </span>
            <!-- <span class="material-icons close" >
                close
            </span> -->
        </div>
    </div>




    
    <!-- <script>

        const menuSection = document.querySelector(".menu-section")
        const menuToggle = menuSection.querySelector(".menu-toggle")

        menuToggle.addEventListener("click", () => {
            menuSection.classList.add("on")
        
        })
    </script> -->