<div class="padding-form">

    <mat-card class="register mat-elevation-z4">
        <mat-card-title>Busca de passagens</mat-card-title>
        <form [formGroup]="formSearchTickets">

            <mat-form-field>
                <input type="number" formControlName="numero_adultos" matInput placeholder="Numero de adultos">
                <mat-error *ngIf="formSearchTickets.get('numero_adultos').errors">O campo não pode ficar vazio
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" formControlName="moeda_pagamento" matInput placeholder="Moeda de pagamento">
                <mat-error *ngIf="formSearchTickets.get('moeda_pagamento').errors">O campo não pode ficar vazio
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="date" formControlName="data_ida" matInput placeholder="Data de ida">
                <mat-error *ngIf="formSearchTickets.get('data_ida').errors">O campo não pode ficar vazio
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" formControlName="destino" matInput placeholder="Codigo de destino">
                <mat-error *ngIf="formSearchTickets.get('destino').errors">O campo não pode ficar vazio</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="number" formControlName="num_max_resultados" matInput placeholder="Numero de resultados">
                <mat-error *ngIf="formSearchTickets.get('num_max_resultados').errors">O campo não pode ficar vazio
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" formControlName="origem" matInput placeholder="Codigo de origem">
                <mat-error *ngIf="formSearchTickets.get('origem').errors">O campo não pode ficar vazio</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="date" formControlName="retorno" matInput placeholder="Data de retorno">
                <mat-error *ngIf="formSearchTickets.get('retorno').errors">O campo não pode ficar vazio</mat-error>
            </mat-form-field>


            <button class="btn-search" mat-raised-button color="primary" (click)="searchVoos()">Buscar</button>
        </form>

        <select name="relevance" id="">
            <option value="mais relevante">Mais Relevantes</option>
            <option value="maiores preços">Maiores Preços</option>
            <option value="menores preços">Menores Preços</option>
        </select>


        <mat-card class="card-tickets mat-elevation-z4">

            <div class="title">
                <mat-card-title> <strong>Voo flexível:</strong>
                    você poderá alterar a data sem pagar multa</mat-card-title>
                <mat-icon aria-hidden="false" aria-label="start">star_border</mat-icon>
            </div>
            <hr />
            <mat-card-content>
                <div>
                    <strong class="name-company">
                        Companhia
                    </strong>
                    <img src="/assets/logo_gol.png" alt="Companhia" />
                </div>

                <div class="exit">
                    <p>
                        <strong>SAIDA: </strong>
                        <span>seg. 25/07/2020</span><br />
                        <span><strong>HORA: </strong>19:50 - 2 paradas</span><br />
                        <strong>ORIGEM:</strong> Campina Grande - PB
                    </p>
                </div>
                <div class="arrival">
                    <p>
                        <strong>CHEGADA: </strong>
                        <span>seg. 25/07/2020</span><br />
                        <span><strong>HORA: </strong>19:50 - 2 paradas</span><br />
                        <strong>DESTINO:</strong> Recife - PE
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Comprar</button>
                <button mat-button>Reservar</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card-tickets mat-elevation-z4">
            <div class="title">
                <mat-card-title> <strong>Voo flexível:</strong>
                    você poderá alterar a data sem pagar multa</mat-card-title>
                <mat-icon aria-hidden="false" aria-label="start">star_border</mat-icon>
            </div>
            <hr />
            <mat-card-content>
                <div>
                    <strong class="name-company">
                        Companhia
                    </strong>
                    <img src="/assets/logo_gol.png" alt="Companhia" />
                </div>

                <div class="exit">
                    <p>
                        <strong>SAIDA: </strong>
                        <span>seg. 25/07/2020</span><br />
                        <span><strong>HORA: </strong>19:50 - 2 paradas</span><br />
                        <strong>ORIGEM:</strong> Campina Grande - PB
                    </p>
                </div>
                <div class="arrival">
                    <p>
                        <strong>CHEGADA: </strong>
                        <span>seg. 25/07/2020</span><br />
                        <span><strong>HORA: </strong>19:50 - 2 paradas</span><br />
                        <strong>DESTINO:</strong> Recife - PE
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Comprar</button>
                <button mat-button>Reservar</button>
            </mat-card-actions>
        </mat-card>

    </mat-card>
</div>