<div class="container">
    <div class="profile-img">
        <figure class="person">
            <img class="image" src="../../../../assets/Kayla_Person-small.jpg" alt="foto do Cliente" />
            <div class="daside">
                <span><strong>Nome:</strong></span>{{cliente.nome}}<br>
                <span><strong>idade:</strong></span>{{cliente.idade}}<br>
                <span><strong>E-mail:</strong></span>{{cliente.email}}<br>
                <a class="link-fav" routerLink="/favoritados"><span><strong>Viagens Favoritas<mat-icon>favorite</mat-icon></strong></span></a>
            </div>
        </figure>
    </div>
    </div>