.register {
    max-width:900px;
    max-height: 256px;
    padding: 50PX;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  button {
    display: flex;
    margin-top: 16px;
    margin-left: auto;
  }
  
/* ######## */

.cards{
    display:flex;
    margin: 0 auto;
    max-width: 970px;
    margin-top: 20px;
  
}
    

.card-container{
    background: white ;
    max-width: 1200px;
    height: 600px;
    margin-right: 32px;
    padding: 56px;
    border: 1px solid rgb(197, 192, 192);
    border-radius: 10px;
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-container h1{
    font-size: 64px;
    line-height: 70px;
}


@media screen and (max-width:700px){

  .card-container{
 display: none;
}
.register {
  max-width:900px;
  max-height: 256px;
  padding: 50PX;
  margin: 0 auto;
  text-align: center;
}
  
  }