<div class="cards">
    <div class="card-container">
        <h1>Bem vindo a Travels Tickets!</h1>
    </div>
    <div class="card-login">
        <!-- <p>Email:</p> -->
        <input type="email" placeholder="Insira seu email">
        <!-- <p>Senha</p> -->
        <input type="password" placeholder="Password">
        <!-- <p></p> -->
        <button mat-raised-button color="primary">Entrar</button>
        
        <a routerLink="/create">Cadastrar usuario!</a><br>
        <a href="">Forget password!</a>
    </div>
</div>
