.padding-form{
  margin: 20px;
}

.register {
  max-width: 900px;
  padding: 50PX;
  margin: 0 auto;
  margin-top: 100px;
}

form {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

button {
  display: flex;
  margin-left: auto;
}
